<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>FooterText</key>
			<string>Don&apos;t forget to choose the &quot;Custom URL&quot; option if you want to specify an URL above.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Environment</string>
			<key>Key</key>
			<string>environment</string>
			<key>DefaultValue</key>
			<string>production</string>
			<key>Values</key>
			<array>
				<string>production</string>
				<string>homologation</string>
				<string>development</string>
				<string>custom</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Homologation</string>
				<string>Development</string>
				<string>Custom URL</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Custom URL</string>
			<key>DefaultValue</key>
			<string>http://</string>
			<key>Key</key>
			<string>customUrlTextField</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Accounts</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Test Accounts</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto Login</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
